body {
    padding-top: 20px;
    font-family: 'Permanent Marker', cursive;
    color: #f3d24d;
    text-shadow: 0 0 2px black, -1px -1px 2px black, 1px 0 2px black, 1px 1px 2px black;
    background: url('../images/madmax.jpg') no-repeat;
    background-size: cover;
}

.container { 
    text-align: center;
    
}

h1 {
    content: "";
    display: block;
    margin: 0 auto;
    width: 40%;
    padding-top: 20px;
    border-bottom: 10px groove #ecba3c;
    text-shadow: 0 0 2px black, -1px -1px 2px black, 1px 0 2px black, 1px 1px 2px black;
}

h4 {
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline;
  padding-top: 5% !important;
} 

h1,h2,h3,h4,h5,h6 {
    padding: 5px;
}

#title, #gameover, #youwin{ 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#gameover, 
#youwin { 
  display: none;
}

.gameplay-column {
    padding-top: 20px;
    border: 3px groove #ecba3c;
    text-align: center;
    margin-top: 20px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, .3);
}